	<!-- <a name="products"> </a> -->
	<section id="fh5co-intro" data-section="intro">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate" style="visibility: hidden;">{{ with .Site.Params.intro.title }}{{ . | markdownify }}{{ end }}</h2>
				<div class="caption_borderd">
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
					<h2 class="to-animate ">{{ with .Site.Params.intro.title }}{{ . | markdownify }}{{ end }}</h2>
					</div>
				</div>
			</div>
		</div>



		<div class="flex-container">


					{{ range .Site.Params.intro.item }}

					<div class="fh5co-block to-animate" style="background-image: url(images/{{ .img }});">

						<!-- <div class="video-container">
								<video autoplay muted loop id="myVideo">

									<source src="/images/{{ .Params.herovideo }}" type="video/mp4" />
							</video >
						</div> -->

					 <div class="overlay-darker"></div>
						<div class="overlay"></div>
						<div class="fh5co-text">

							<i class="fh5co-intro-icon {{ .icon }}"></i>
							{{ if .button}}
								<h3><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></h3>
							{{ end }}
	 						<!-- <h2>{{ .title }}</h2> -->
							<h4>{{ .description }}</h4>
						</div>
					</div>
				{{ end }}


			<!-- {{ if .Site.Params.intro.video.enable }}
			<div class="row watch-video text-center to-animate">
				<!-- <span>{{ with .Site.Params.intro.video }}{{ . }}{{ end }}</span> -->
				<!-- <span>{{.Site.Params.intro.video.title | markdownify }}</span>

				<a href="{{ .Site.Params.intro.video.url }}" class="popup-vimeo btn-video"><i class="{{ .Site.Params.intro.video.icon | markdownify }}"></i></a>
			</div>
			{{ end }} -->
		</div>
		</div>
	</section>
